body{
    margin: 0 auto;
}
.nk-namebar-input{
  padding:0 0.75rem;
  width: 16em;
  height: 2em;
  text-align: center;
  font-size: 1em;
  font-family: 'estilo';
  /*background-image: linear-gradient(180deg, #ffffff 0%, #9e7aa5 100%);*/
  border-radius: 5px;
  /*text-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  outline: 0.2em;*/
  z-index: 1;

  position:fixed;
  top: 330px;
  right: 41.5%; 

  visibility: hidden;
}


*{
  box-sizing: border-box;
}

input[type-text]{
  writing-mode: horizontal-tb;
  cursor: text;
  
}

.nk-showMessages-container {
  padding:0 0.90rem;
  padding-bottom: 50px;
  width: 845px;
  height: 190px;
  text-align: left;
  font-size: 1em;
  font-family: 'estilo'; 
  background-color:rgba(105, 105, 105, 0.715);
  border-radius: 5px;
  border-color: dimgrey;
  /*text-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  outline: 0.2em;*/


  position:fixed;
  top: 470px;
  right: 22.5%; 

  visibility: hidden;
}

.nk-messagesContainer-output{
  padding:0 0.90rem;
  width: 845px;
  height: 40px;
  text-align: left;
  font-size: 1em;
  font-family: 'estilo';
  /*background-image: linear-gradient(180deg, #ffffff 0%, #9e7aa5 100%);*/
  border-radius: 5px;
  /*text-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  outline: 0.2em;*/
  z-index: 1;

  position:fixed;
  top: 620px;
  right: 22.5%; 

  visibility: hidden;
}

.btn-warning{
  width: 5%;
  height: 5%;

  font-size: 1em;
  font-family: 'estilo';

  color:rgb(0, 0, 0);
  background-color:rgb(121, 70, 146);
  border-style: dashed;
  z-index: 1;

  position:fixed;
  top: 620px;
  right: 22.7%;
}